<ion-spinner *ngIf="isLoading" name="lines"></ion-spinner>
<ion-content class="dark" padding *ngIf="!isLoading">
  <div>
  <ion-card class="body">
    <ion-grid>
      <ion-row>
        <ion-col text-center style="font-size: 1.3em;">
          <ion-label style="font-weight:bold;" color="dark">
            {{ user.firstname }} {{ user.lastname.toUpperCase() }}
          </ion-label>
          <ion-icon
            float-right
            (click)="logout()"
            color="danger"
            name="log-out"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <img class="profil-gif" src="../../assets/images/profil.jpeg" />

    <form padding *ngIf="!edit">
      <ion-card>
        <ion-card-header>
          <ion-row>
            <ion-col size="10">
              <ion-card-title>{{ user.project.name }}</ion-card-title>
              <ion-card-subtitle>Pôle {{ user.pole.name }}</ion-card-subtitle>
            </ion-col>
            <ion-col size="2">
              <ion-icon
                style="font-size: 1.3em;"
                float-right
                color="tertiary"
                name="create"
                (click)="editProject()"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          {{ user.project.description }}
        </ion-card-content>
      </ion-card>
    </form>
    <form padding *ngIf="edit">
      <div text-center>
        <ion-label text-center>Quel est votre pôle et votre projet ?</ion-label>
      </div>
      <ion-item>
        <ion-label position="floating">Pôles</ion-label>
        <ion-select [(ngModel)]="user.pole" name="pole">
          <ion-select-option *ngFor="let pole of poles" [value]="pole">{{
            pole.name
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          [(ngModel)]="user.project.name"
          name="project"
          autocomplete="off"
          (ionInput)="filterProjects($event)"
          placeholder="Nom du projet"
        ></ion-input>
      </ion-item>
      <ion-list>
        <ion-item
          *ngFor="let project of projectsFilter"
          (click)="selectProject(project)"
        >
          {{ project.name }}
        </ion-item>
      </ion-list>

      <div text-center>
        <ion-button (click)="save()" color="primary">Enregistrer</ion-button>
      </div>
    </form>
  </ion-card>
    
</div>
</ion-content>
