.body {
    margin-top: 30px;
}

.profil-gif {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
    margin-top: 15px;
}

ion-spinner {
    margin: auto;
}