<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
    <ion-buttons (click)="close()" slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Emoji button -->
<ion-content>
  <ion-card>
    <ion-row class="smileys">
      <ion-col *ngFor="let smiley of smileys">
        <img
          class="smiley"
          [src]="smiley.img"
          (click)="changeState(smiley)"
          [@changeState]="smiley.state"
        />
      </ion-col>
    </ion-row>
  </ion-card>

  <!-- List of tasks -->
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-card-title>
          <ion-icon
            name="information-circle-outline"
            (click)="
              presentToast(
                'Listes les tâches que tu as réalisé durant ce Y-Day.'
              )
            "
          ></ion-icon>
          Tâches réalisées :
        </ion-card-title>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="feedback.successTasks"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- List of difficulties -->

  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-card-title>
          <ion-icon
            name="information-circle-outline"
            (click)="
              presentToast('Listes les difficultées que tu as rencontré.')
            "
          ></ion-icon>
          Difficultées rencontrées :
        </ion-card-title>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-textarea [(ngModel)]="feedback.difficulties"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Validate form -->

  <ion-button class="btn-bottom" [hidden]="!smiley" (click)="saveFeedback()" expand="full"
    >Envoyez formulaire</ion-button>
  <ion-button class="btn-bottom" [hidden]="smiley" (click)="close()" expand="full"
    >Retour</ion-button>
</ion-content>
