<ion-content padding>
  <ion-row padding>
    <ion-col text-center>
      <ion-button class="ion-justify-content-center" (click)="presentModal()">
        Nouveau feedback
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-list-header>
      Liste de vos feedbacks
    </ion-list-header>

    <ion-item *ngFor="let feedback of feedbacks">
      <ion-avatar slot="start">
        <img [src]="feedback.feeling" />
      </ion-avatar>
      <ion-label>
        <h2>{{ feedback.successTasks }}</h2>
        <h3>{{ feedback.difficulties }}l</h3>
        <!-- <p>Listen, I've had a pretty messed up day...</p> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
