<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="star-half"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="barcode"></ion-icon>
        <ion-label>QR Code</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
