<ion-spinner *ngIf="isLoading" name="lines"></ion-spinner>
<ion-content [hidden]="isLoading">
    <ion-card>
      <img [src]="randomPicture">
      <ion-card-header>
        <!-- <ion-card-subtitle>Membres de l'equipe</ion-card-subtitle> -->
        <ion-card-title>{{project.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{project.description}}
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar COLOR="primary">
      <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
        Close
      </ion-button>
    </ion-toolbar>
</ion-footer>