<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="user.email" name="email" placeholder="Email"></ion-input>
  <ion-input [(ngModel)]="user.password" name="password" placeholder="Mot de passe"></ion-input>
  <ion-button expand="full" color="primary" (click)="connect()">Save</ion-button>
</ion-content>

