<ion-content [scrollEvents]="true">

  <ion-toolbar class="toolbar">
    <ion-searchbar animated placeholder="Search poles" (ionInput)="filterPoles($event)"></ion-searchbar>
  </ion-toolbar>

      <ion-card *ngFor="let pole of polesFilter" color="light">
        <ion-item color="light">
          <ion-icon name="list-box" slot="start"></ion-icon>
          <ion-label> {{pole.name}} </ion-label>
          <ion-button fill="outline" slot="end" (click)="presentModal(pole.id)"> See </ion-button>
        </ion-item>
      </ion-card>

</ion-content>