<ion-header>
  <ion-toolbar>
    <ion-title>
      QRCode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-input type="text" [(ngModel)]="encodText"></ion-input>
    <button ion-button block (click)="encode()"> Encode </button>
  </div>
  <div>
    <button ion-button block (click)="scan()"> Scan </button>
    <div *ngIf="scannedData.text">
      <label> Your barcode : </label>
      <br>
      <span> {{scannedData.text}} </span>
    </div>
  </div>
</ion-content>
