<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="pole"> Pole {{pole.name}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <ion-toolbar>
        <ion-searchbar animated (ionInput)="filterProjects($event)" placeholder="Search project"></ion-searchbar>
    </ion-toolbar>

    <ion-card *ngFor="let project of projectsFilter" color="light">
        <ion-item color="light">
          <ion-icon name="desktop" slot="start"></ion-icon>
          <ion-label> {{project.name}} </ion-label>
          <ion-button fill="outline" slot="end" (click)="presentModal(project)"> Infos </ion-button>
        </ion-item>
    
        <ion-card-content>
            {{project.description}} 
        </ion-card-content>
      </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar COLOR="primary">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
      Close
    </ion-button>
  </ion-toolbar>
</ion-footer>