<ion-header>
    <ion-toolbar>
      <ion-title> Inscription </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <div padding>
      <ion-input [(ngModel)]="user.firstname" name="firsname" placeholder="Nom"></ion-input>
      <ion-input [(ngModel)]="user.lastname" name="lastname" placeholder="Prénom"></ion-input>
      <ion-item>
          <ion-label position="floating">Poles</ion-label>
          <ion-select [(ngModel)]="user.pole">
            <ion-select-option *ngFor="let pole of poles" [value]="pole">{{pole.name}}</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Roles</ion-label>
          <ion-select [(ngModel)]="user.role" (ngModelChange)="onChangeRole($event)">
            <ion-select-option *ngFor="let role of roles" [value]="role">{{role.name}}</ion-select-option>
          </ion-select>
      </ion-item>
      <div *ngIf="!poleLeader">
        <ion-input autocomplete="off" [(ngModel)]="user.project.name" (ionInput)="filterProjects($event)" placeholder="Nom du projet"></ion-input>
        <ion-list>
            <ion-item *ngFor="let project of projectsFilter" (click)="selectProject(project)">
              {{ project.name }}
            </ion-item>
        </ion-list>
      </div>  
      <ion-input [(ngModel)]="user.email" name="email" placeholder="Email"></ion-input>
      <ion-input [(ngModel)]="user.password" name="password" placeholder="Mot de passe"></ion-input>
  </div>
  </ion-content>
    
<ion-footer>
  <ion-toolbar COLOR="primary">
    <!-- <ion-button expand="full" fill="clear" color="light" >
      Close
    </ion-button> -->
    <ion-button expand="full" fill="clear" color="light" (click)="save()">Save</ion-button>
  </ion-toolbar>
</ion-footer>
