<div class="wrapper-page">
  <div class="wrapper ">
      <ion-card padding>
        <ion-card-content>
          <ion-grid class="centered">
            <ion-row>
    
              <ion-col>
    
                  <ion-img class ="logo" src="../assets/images/LaboToMooD.png"></ion-img>
    
                <ion-item *ngIf="!connexion">
                  <ion-input [(ngModel)]="user.lastname"  type="text" placeholder="Nom"></ion-input>
                </ion-item>
                <ion-text  color="danger" *ngIf="errRegisterLastName && !connexion">
                  <p class="maxwidth">Le nom doit être renseigné</p>
                </ion-text>
    
                <ion-item *ngIf="!connexion">
                  <ion-input [(ngModel)]="user.firstname"  type="text" placeholder="Prénom"></ion-input>
                </ion-item>
                <ion-text  color="danger" *ngIf="errRegisterFirstName && !connexion">
                  <p class="maxwidth">Le prénom doit être renseigné</p>
                </ion-text>
         
                <ion-item>
                  <ion-input  [(ngModel)]="user.email" [ngClass]="styleEmail" (ionChange)='checkEmail()' type="text" placeholder="Mail" ></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="errRegisterEmail && !connexion">
                  <p>Veuillez rentrer un mail valide.</p>
                </ion-text>
    
                <ion-item class="padding-bottom">
                  <ion-input  [(ngModel)]="user.password" [ngClass]="stylePassword" (ionChange)='checkPassword()' type="password" placeholder="Mot de passe " ></ion-input>
                </ion-item>
                <ion-text  color="danger" *ngIf="errRegisterPassword && !connexion">
                  <p class="maxwidth">Mot de passe trop faible <br> (ex: Xyz-!123)</p>
                </ion-text>
                
    
                <ion-button *ngIf="connexion" color="primary" (click)="login()">Connexion
                </ion-button>
                <p class="padding-top" *ngIf="connexion"> Pas encore de compte? <a class="pointer"
                    (click)="isConnexion()">Inscris toi !</a> </p>
    
                <ion-button  *ngIf="!connexion" color="primary"  (click)="checkForm()">Inscription
                </ion-button>
                <ion-text  color="danger" *ngIf="formNotValid && !connexion">
                  <p class="maxwidth">Un des champs est invalide</p>
                </ion-text>
                <p class="padding-top" *ngIf="!connexion"> T'as déjà un compte? <a class="pointer"
                    (click)="isConnexion()">Connecte toi !</a> </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
</div>