.red {
  color: red;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper {
  height: 100%;
  display: flex;
}

.pointer {
  cursor: pointer;
}
ion-card {
  margin: auto;
}

.padding-bottom {
  padding-bottom: 10px;
}
.padding-top {
  padding-top: 10px;
}

.logo {
  width: 200px;
  height: 200px;
  margin: auto;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.maxwidth {
  max-width: 226px;
  text-align: center;
}

ion-spinner {
  margin: auto;
}
